<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" parallel="none">
    <test verbose="5" name="pft_AlinaIvanova" annotations="JDK">
        <classes>
            <class name="pft.tests.GroupsTest"/>
        </classes>
    </test>
</suite>
